*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
build/generated/mockable-android-24.jar
build/intermediates/dex-cache/cache.xml
local.properties
.idea/misc.xml
app/build